# Rappel Python

### variables & types de données

In [2]:
days = 365

In [3]:
number_days = 365

In [4]:
days_1 = 365
days_2 = 366

In [5]:
number_days = 366

In [6]:
number_days

366

In [7]:
print(number_days)

366

In [8]:
france = 123

In [9]:
print(type(france))

<class 'int'>

In [10]:
# float - nombres à virgules

data_float = 122.5
print(type(data_float))

<class 'float'>

In [11]:
# string

hello = 'Hello'
print(type(hello))

<class 'str'>

In [12]:
true_type = True
print(type(true_type))

<class 'bool'>

In [13]:
# str() et int()
str_int = "2"
print(type(str_int))

<class 'str'>

In [14]:
str_int = int(str_int)
print(type(str_int))

<class 'int'>

In [15]:
somme = 95 + 82
print(somme)

177

In [17]:
spain = 95
france = 82
somme_france_spain = france + spain
print(somme_france_spain)

177

In [18]:
france_puissance2 = france**2
print(france_puissance2)

6724

### Listes & Dictionnaires

Listes

In [19]:
months = []

In [20]:
# list.append()
months.append("Janvier")
months.append("Février")

In [21]:
print(months)

['Janvier', 'Février']

In [22]:
print(type(months))

<class 'list'>

In [24]:
months = []
months.append(1)
months.append("Février")
months.append(2)
months.append("Février")
print(months)

[1, 'Février', 2, 'Février']

In [25]:
months = [1,"Février",2,"Février"]
print(months)

[1, 'Février', 2, 'Février']

In [26]:
years = [2013, 2014, 2015, 2016, 2017, 2018]

In [27]:
first_value = years[0]
print(first_value)

2013

In [28]:
years[1]

2014

In [29]:
years[4]

2017

In [30]:
years[0:3]

[2013, 2014, 2015]

In [38]:
# len()
len(years)

6

Dictionnaires

In [32]:
score = {}

In [33]:
animals = {
    "poules": 120,
    "chèvres": 46,
    "chevaux": 23,
    "vaches":55
}

In [34]:
print(animals)

{'poules': 120, 'chèvres': 46, 'chevaux': 23, 'vaches': 55}

In [35]:
animals["poules"] = 110
animals

{'poules': 110, 'chèvres': 46, 'chevaux': 23, 'vaches': 55}

In [36]:
animals["lions"] = 2
animals

{'poules': 110, 'chèvres': 46, 'chevaux': 23, 'vaches': 55, 'lions': 2}

In [37]:
animals["poules"]

110

### Conditions IF/ELSE

In [39]:
age = 29

In [40]:
if age > 35:
    print(age)
else:
    print('interdit pour toi')

interdit pour toi

### Boucles FOR

In [41]:
cities = ['Paris', 'Madrid', 'Rome']

In [42]:
for city in cities:
    print(city)

Paris
Madrid
Rome

In [50]:
fruits = ['Citron', 'Banane', 'Pomme', 'Banane', 'Pomme', 'Banane', 'Pomme' ]

In [54]:
fruits_counts = {}

In [55]:
for item in fruits:
    if item in fruits_counts:
        fruits_counts[item] += 1
    else:
        fruits_counts[item] = 1

In [56]:
print(fruits_counts)

{'Citron': 1, 'Banane': 3, 'Pomme': 3}

### Fonctions Python

In [58]:
def ton_age(age):
    if age >= 60:
        return('âgé')
    else:
        return('jeune')

In [60]:
ton_age(25)

'jeune'

In [61]:
ton_age(70)

'âgé'

In [62]:
def listing(dict):
    liste = []
    for d in dict:
        if dict[d] > 10:
            liste.append(d)
    return liste

In [63]:
notes = {
    "Tom": 12,
    "Nina": 9,
    "Julie": 18,
    "Bob": 5
}

In [64]:
listing(notes)

['Tom', 'Julie']